<!DOCTYPE html>
<%@ page import="java.util.List" %>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste de Course</title>
    <link rel="stylesheet" href="<%=request.getContextPath()%>/css/knacss.css">
    <link rel="stylesheet" href="<%=request.getContextPath()%>/css/my.css">
</head>
<body class="layout-maxed">
<h1 class="layout-hero"><p>Courses</p>
    <% if(request.getAttribute("errors") != null) { %>
    <div class=errors">
        <ul>
            <% for(String error: ((List<String>)request.getAttribute("errors"))) { %>
            <li><%= error %></li>
            <% } %>
        </ul>
    </div>
    <% } %>
    <% if(request.getAttribute("success") != null) { %>
    <div class=success">
        <ul>
            <% for(String success: ((List<String>)request.getAttribute("success"))) { %>
            <li><%= success %></li>
            <% } %>
        </ul>
    </div>
    <% } %>
</h1>
