@charset "UTF-8";

body {
	min-height: 100vh;
	grid-template-rows: auto 1fr;
}

h2 {
	background-color: #FBFBFB;
	text-align: center;
}

.contents {
	grid-template-rows: auto 1fr auto;
}

footer[role=navigation] {
	display: flex;
	justify-content: center;
	border-top: 1px solid darkgrey;
}

fieldset {
	border: 1px solid silver;
}

.danger {
	background-color: #F93154;
	color: white;
}

.succes {
	background-color: #00B74A;
	color: white;
}

.warning {
	background-color: #FFA900;
	color: white;
}

.info {
	background-color: #39C0ED;
	color: white;
}

h1 {
	background-color: #F93154;
	color: white;
	padding: 1em;
	text-align: center;
}

.courses-nouvelle-container {
	grid-template-rows: auto 1fr auto;
	display: grid;
}

.courses-contents {
	grid-template-rows: auto auto 1fr;
}