{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ "Accueil" }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main>
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>Juste si ca fonctionne</p>

</main>
{% endblock %}
