#titres .panel-body img {
    width: 100%;
}

#titres .panel {
    cursor: pointer;
}

#entries {
    margin-top: 2em;
}

#controls > .row:first-of-type {
    margin-bottom: 1em;
}

audio {
    visibility: hidden;
}

#play[aria-pressed=true] > .glyphicon-pause {
    display: block;
}

#play[aria-pressed=true] > .glyphicon-play {
    display: none;
}

#play[aria-pressed=false] > .glyphicon-pause {
    display: none;
}

#play[aria-pressed=false] > .glyphicon-play {
    display: block;
}
