<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket list{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('res/css/normalize.css') }}" >
            <link rel="stylesheet" href="{{ asset('res/css/app.css') }}" >
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="icon" href="{{ asset('res/favicon.png') }}">
    </head>
    <body class="container">
    <header>
        <a href="{{ path('main') }}"> <img src="{{ asset('res/img/logo.svg') }}" alt="logo"></a>
    </header>
    {% include 'nav.html.twig' %}

        {% block body %}{% endblock %}

    {% include 'nav.html.twig' %}
    <footer>&copy; Bucket</footer>
    </body>
</html>
