<nav>
    <a href="{{ path('about_us') }}">About us</a>
    <a href="{{ path('wish_index') }}">Wishes</a>
    <a href="{{ path('category_index') }}">Categories</a>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a> or <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
</nav>