{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " About us" }}{% endblock %}

{% block body %}
    {%  for member in members %}
        <div>
            <img src="{{ member.picture }}" alt="{{ member.firstname }}">
            <h2>{{ member.firstname }} {{ member.lastname }}
            {% if member.firstname == "Fabien" %}
                ❤
            {% endif %}
            </h2>
            <div>
                {{ member.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
