<h1><a href="{{ path('main') }}">Accueil</a></h1>

<nav>
    <ul>
        <li><a href="{{ path('categorie_index') }}">Categories</a> </li>
        <li><a href="{{ path('produit_index') }}">Produits</a> </li>
    </ul>
</nav>