<p>Nouveau message</p>
<form [formGroup]="monForm" class="me-2" (ngSubmit)="onSubmit()">
  <div class="form-group">

  <p>
  <label>Auteur : </label>
    <input formControlName="auteur" class="form-control">
  </p>
  </div>

  <div class="form-group">
  <p>
    <label>Contenu : </label>
    <textarea formControlName="texte" class="form-control"></textarea>
  </p>
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
