@charset "UTF-8";

body {
	/*min-height: 100vh;*/
}

fieldset {
	border: 1px solid silver;
}

.danger {
	background-color: #F93154;
	color: white;
}

.succes {
	background-color: #00B74A;
	color: white;
}

.warning {
	background-color: #FFA900;
	color: white;
}

.info {
	background-color: #39C0ED;
	color: white;
}