<form method="post" action="{{ path('wish_delete', {'id': wish.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wish.id) }}">
    <button class="btn">Delete</button>
</form>
