{% extends 'base.html.twig' %}

{% block title %}Wish index{% endblock %}

{% block body %}
    <h1>Wish index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>IsPublished</th>
                <th>CreatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wish in wishes %}
            <tr>
                <td>{{ wish.id }}</td>
                <td>{{ wish.name }}</td>
                <td>{{ wish.description }}</td>
                <td>{{ wish.author }}</td>
                <td>{{ wish.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ wish.createdDate ? wish.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('wish_show', {'id': wish.id}) }}">show</a>
                    <a href="{{ path('wish_edit', {'id': wish.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wish_new') }}">Create new</a>
{% endblock %}
