{% extends 'base.html.twig' %}

{% block title %}Wish{% endblock %}

{% block body %}
    <h1>Wish</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wish.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ wish.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wish.description }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ wish.author }}</td>
            </tr>
            <tr>
                <th>IsPublished</th>
                <td>{{ wish.isPublished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedDate</th>
                <td>{{ wish.createdDate ? wish.createdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wish_index') }}">back to list</a>

    <a href="{{ path('wish_edit', {'id': wish.id}) }}">edit</a>

    {{ include('wish/_delete_form.html.twig') }}
{% endblock %}
