:host {
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-rows: 150px 1fr 300px;
  height: 100vh;
}

app-en-tete {
  grid-column: 1 / 3;
  text-align: center;
  font-size: xx-large;
}

app-latteral {
  grid-row: 2 / 4;
}
