body {
    background: linear-gradient(#000000, #132135) fixed;
    color: #EEE;
    font-family: 'Crimson Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;

}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

body > .container {

}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

footer {
    text-align: center;
}